:root {
  --button_color: rgb(17, 109, 74);
  --button_color_hover:  rgb(17, 109, 74, 0.5);
  --button_color_hover_2:  rgba(5, 46, 30, 0.8);
}

* {
  box-sizing: border-box;
}


/* ------------------ STARTING HTML ELEMENT STYLING ------------------ */

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

li > a:hover {
  color: forestgreen;
  text-decoration: underline;
  font-weight: bold;
}

ul {
  display: flex;
  list-style-type: disc;
  align-self: flex-end;
  align-items: center;
}

label {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px grey;
}

/* ------------------ STARTING CLASS BASED CSS STYLING ------------------ */

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* ------------------ STARTING CUSTOM CLASSES ------------------ */

.banner_1 {
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: rgba(12, 80, 54, 0.5);
}

.no_padding {
  padding: 0px;
  margin: 0px;
}

.navItem {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fakeButton {
  display: flex;
  background-color: var(--button_color);
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px grey;
  width: 300px;
  height: 50px;
  align-items: center; /* vertical center w/ display: flex*/
  justify-content: center; /* horizontal center w/ display: flex*/
}

.fakeButton:hover {
  background-color: var(--button_color_hover);
  text-shadow: 1px 1px 1px white;
}

.fakeButton > a:hover {
  color: black;
}

.fakeButton_2 {
  display: flex;
  background-color: var(--button_color);
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
  width: 300px;
  height: 50px;
  align-items: center; /* vertical center w/ display: flex*/
  justify-content: center; /* horizontal center w/ display: flex*/
}

.fakeButton_2:hover {
  background-color: var(--button_color_hover_2);
  text-shadow: 1px 1px 1px white;
  border: 1px solid white;
  color: white;
}

.fakeButton_2 > a:hover {
  color: white;
  font-weight: bold;
}

.hover_1:hover {
  color: forestgreen;
  text-decoration: underline;
  font-weight: bolder;
}

.form_container {
  background-color: rgba(12, 80, 54, 0.5);
  justify-content: center;
  padding: 25px;
  margin: 10px;
  border-radius: 15px;
  opacity: 10;
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
}

/* Reset on the Bootstrap row -12 margin, left and right */
.row {
  margin: 0;
}